<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap"
      rel="stylesheet"
    />
    <title>Todo</title>
    <style>
      .btn- {
        background: transparent;
      }
      .btn-General {
        background: #195883;
        color: white;
      }
      .btn-Personal {
        background: #571574;
        color: white;
      }
      .btn-Work {
        background: #c27a05;
        color: white;
      }
      .btn-College {
        background: #0b866e;
        color: white;
      }
      .btn-Others {
        background: #b94e06;
        color: white;
      }
    </style>
  </head>
  <body>
    <div class="container" style="font-family: 'Luxurious Roman', cursive">
      {% block content %} {% endblock content %}
    </div>
  </body>
</html>
